body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #0099cc;
}

form {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #0099cc;
}

select {
    width: 10%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    background-color: #ffffff;
    color: #333333;
}

textarea {
    width: 70%;
    padding: 10px;
    height: 100px; /* Adjust the height as per your preference */
    border: 1px solid #cccccc;
    border-radius: 5px;
    resize: vertical;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #0099cc;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0088b3;
}
